%html
  %head
    %title New Crisis
    %link(rel='stylesheet' type='text/css' href='src/style.css')
    %script(src='src/prototype.js')  
    %script(src='src/newcrisis.js')
  %body
    %header
      %h1 New Crisis
      %h2 Web-based rpg based on the Second Temple period of Jewish history

      %a(href='http://github.com/newcrisis/newcrisis.github.com')
        %img.github(src='github-banner.png' alt='Fork me on GitHub')

      %section#newcrisis
        %section#status

        %section#action

        %section#info
          %pre
            Welcome to the New Crisis game.

        %section#newgame
          %div.choice-1
            %p Sadducees

          %div.choice-2
            %p Pharisees

          %div.choice-3
            %p Monastics

          %div.choice-4
            %p Zealots

    %footer
      %p Alex Tannenbaum and Jackson Willis
      
